<link rel="stylesheet" href="/css/admin/form.css">



<div class="form-body">
    <h2>Categoria</h2>
    <form action="/admin/categoria/add" method="post">
        <input class="form-input" type="text" name="nome" id="nome" placeholder="Nome" required>

        <input class="form-submit" type="submit" value="Cadastrar">
        <input class="form-submit" onclick="location.href='/admin/produto/add'" type="button" value="Voltar">
    </form>
</div>

<script defer>
    const fileInput = document.getElementById('foto')
    const form_input = document.getElementById('form-file')

    fileInput.addEventListener('change', ()=>{
        if(fileInput.files.length > 0) {
            form_input.classList.add('active')
            form_input.innerText = fileInput.files[0].name
        } else {
            form_input.classList.remove('active')
            form_input.innerText = "Foto"
        }
    })
</script>